/* 
    Colors used for site

    dark grey - #333
    lighter grey - #444
    very light grey - #f4f4f4
    white - #fff
    light orange - #f7c08a

*/

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* CSS utilities (this will be applied via classes or used generally) 
    - Includes: Reset padding and margins for all elements
                Viewport container
                html and body font family and line height
                a elements reset decorations, set white font and center
                Clear class to clear floats
                Float left and right
                Orange text and background classes */

/* ------------------------------------------------------------------ */
/* Create CSS reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Create viewport container */
/* Add container overflow due to about section overflowing */

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 20px;
}

/* Set font family and line height */

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

/* Remove links styles and set font color */

a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

/* Floats are causing bottom elements to spill into space, use div to clear both floats */

.clr {
    clear: both;
}

/* Create utility class to float boxes on index page*/

.flt-l {
    float: left;
}

.flt-r {
    float: right;
}

/* Utility Class for orange colour */

.or-txt {
    color: #f7c08a;
}

.or-bgnd {
    background: #f7c08a;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* Common Elements 
   - Including: Navbar
                Footer 
                3 Floated boxes on index and contact page
                Buttons 
                Headings
                Paragraph padding */

/* ------------------------------------------------------------------ */

/* Style Navbar 
   - Rectify padding issue by adding overflow to container */

.navbar {
    background-color: #333;
    color: #fff;
    overflow: auto;
}

/* Float links to right and remove bullet points */

.navbar ul {
    float: right;
    list-style: none;
}

/* Set links to inline block element so they are inline */
/* Float removes gaps between links so hover effect covers entire element */

.navbar ul li {
    display: inline-block;
    float: left;
}

/* Set padding for navbar and set a tags to block elements for hover effect */
/* Note - setting padding for link element causes overflow problem, container set to overflow */

.navbar ul li a {
    display: block;
    padding: 20px;
}

/* Style Navbar logo */

.navbar .logo {
    float: left;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
}

/* Create hover effect for links */

.navbar ul li a:hover {
    background-color: #444;
    color: #f7c08a;
}

/* Create active effect for link */

.navbar ul li .current {
    background-color: #444;
    color: #f7c08a;
}

/* ------------------------------------------------------------------ */

/* Create Footer */

footer {
    background-color: #444;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* ------------------------------------------------------------------ */

/* Set info-container block sizes and heights and float them */
/* Center text */

.info-container {
    padding: 50px;
    text-align: center;
    width: 33.333%;
}

/* ------------------------------------------------------------------ */

/* Create btn classes */
/* Set display to inline block for the hover effect */

.btn {
    background: #333;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 13px 20px;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

/* Create button hover effect */

.btn:hover {
    background: #f7c08a;
    color: #333;
}

/* ------------------------------------------------------------------ */

/* Heading padding */

h1, h2, h3 {
    padding-bottom: 20px;
}

/* ------------------------------------------------------------------ */

/* Paragraph padding */

p {
    margin: 10px 0;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* Index page styling and content */

/* ------------------------------------------------------------------ */

/* Style index image main */

.showcase {
    background: url(/img/showcase.jpg) center/cover;
    height: 600px;
}

/* Center heading and paragraph and center content */

.showcase .container {
    padding-top: 170px;
    text-align: center;
}

/* Set heading sizing and line height */

.showcase .container h1 {
    font-size: 60px;
    line-height: 1.2em;
}

/* Showcase paragraph padding and font color and font size and line-height */

.showcase .container p {
    color: #fff;
    font-size: 20px;
    line-height: 1.7em;
    padding-bottom: 20px;
}

/* Style history image and set container height */
/* Set width of img container to 50% of container and float to left */

.history-img {
    background: url(/img/photo-1.jpg) center/cover;
    float: left;
    height: 400px;
    width: 50%;
}

/* Set floats and overflows and container sizes */

.history-main {
    height: 400px;
    width: 100%;
}

/* Set history-text div to 50% and float to right */
/* Set height so background fills entire container */

.history-text {
    background: #333;
    color: #fff;
    float: right;
    height: 100%;
    width: 50%;
    padding: 50px 30px;
    text-align: center;
}

/* Set history paragraph padding bottom */

.history-text p {
    padding-bottom: 30px;
}

/* Text Styling for info section */

.home-info {
    color: #333;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */

/* Style About page */

/* ------------------------------------------------------------------ */

/* Set inner padding for about section */

.about {
    padding: 30px 0;
}

/* Set About floats and widths */

.about-left {
    color: #333;
    float: left;
    width: 50%;
}

.about-right {
    float: right;
    width: 50%;
}

/* Style About Header */

.container .about-left h1 {
    padding-top: 20px;
    font-size: 40px;
}

/* Style About Images */

/* About Image on site is responsive thus percentage should be used in relation to container and set image to block level element */
/* Set margin to align image in center */

.about .about-right img {
    border-radius: 50%;
    display: block;
    margin: auto;
    width: 70%;
}

/* Testimonials section background image */
/* Add padding for testimonial section and center and color h1 */

.testimonials {
    background: url(/img/test-bg.jpg) center/cover;
    height: 600px;
    padding-top: 100px;
    text-align: center;
}

.testimonials h2 {
    color: #fff;
    font-size: 40px;
    padding-top: 10px;
}

/* Testimonial info box styling */
/* Set padding and margin */

.testimonial {
    background: #f7c08a;
    border-radius: 5px;
    color: #333;
    margin-bottom: 40px;
    opacity: 0.9;
    padding: 20px;
}

/* Testimonial image to be rounded and set to a static size as they are a set height */
/* Set testimonial image floats */

.testimonials .testimonial img {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    width: 100px;
}

/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */