/* 
    Colors used for site

    dark grey - #333
    lighter grey - #444
    very light grey - #f4f4f4
    white - #fff
    light orange - #f7c08a

*/


/* Create CSS reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Set font family and line height */

html, body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
}

/* Style Navbar */
/* Rectify padding issue by adding overflow to container */

.navbar {
    background-color: #333;
    color: #fff;
    overflow: auto;
}

/* Create viewport container */

.container {
    max-width: 1100px;
    margin: auto;
}

/* Remove links styles and set font color */

a {
    text-decoration: none;
    color: #fff;
}

/* Float links to right and remove bullet points */

.navbar ul {
    float: right;
    list-style: none;
}

/* Set links to inline block element so they are inline */

.navbar ul li {
    display: inline-block;
}

/* Set padding for navbar and set a tags to block elements for hover effect */
/* Note - setting padding for link element causes overflow problem, container set to overflow */

.navbar ul li a {
    display: block;
    padding: 20px;
}

/* Style Navbar logo */

.navbar .logo {
    float: left;
    font-weight: bold;
    font-size: 25px;
    padding: 20px;
}

/* Create hover effect for links */

.navbar ul li a:hover {
    background-color: #444;
    color: #f7c08a;
}

/* Create active effect for link */

.navbar ul li .current {
    background-color: #444;
    color: #f7c08a;
}

/* Create Footer */

footer {
    background-color: #444;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Insert and style images */

/* Style index image main */

.showcase {
    background: url(/img/showcase.jpg) center/cover;
    height: 600px;
}

/* Style history image and set container height */
/* Set width of img container to 50% of container and float to left */

.history-img {
    background: url(/img/photo-1.jpg) center/cover;
    float: left;
    height: 400px;
    width: 50%;
}

/* Style About Images */

/* About Image on site is responsive thus percentage should be used in relation to container and set image to block level element */

.about .about-right img {
    border-radius: 50%;
    display: block;
    width: 70%;
}

/* Testimonials section background image */

.testimonials {
    height: 600px;
    background: url(/img/test-bg.jpg) center/cover;
}

/* Testimonial image to be rounded and set to a static size as they are a set height */
/* Set testimonial image floats */

.testimonials .testimonial img {
    border-radius: 50%;
    float: left;
    width: 100px;
}

/* Set floats and overflows and container sizes */

.history-main {
    height: 400px;
    width: 100%;
}

/* Set history-text div to 50% and float to right */
/* Set height so background fills entire container */

.history-text {
    background: #333;
    color: #fff;
    float: right;
    height: 100%;
    width: 50%;
}

/* Floats are causing bottom elements to spill into space, use div to clear both floats */

.clr {
    clear: both;
}

/* Set info block sizes and heights and float them */
/* Center text */

.info {
    text-align: center;
    width: 33.333%;
}

/* Create utility class to float boxes on index page*/

.flt-l {
    float: left;
}

.flt-r {
    float: right;
}

/* Set About floats and widths */

.about-left {
    float: left;
    width: 50%;
}

.about-right {
    float: right;
    width: 50%;
}

/* Set Contact info widths */

.contact {
    width: 33.333%;
}

/* Create btn classes */
/* Set display to inline block for the hover effect */

.btn {
    background: #333;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    padding: 13px 20px;
}

.btn-light {
    background: #f4f4f4;
    color: #333;
}

/* Create button hover effect */

.btn:hover {
    background: #f7c08a;
    color: #333;
}

/* Utility Class for orange colour */

.or-txt {
    color: #f7c08a;
}